.caret {
    margin-left: 4px;
}

.text-muted {
    color: #bbb;
}

.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
    margin-left: 30px;
}

.wrap-word{
    word-break: break-all;
}

.modal-dialog {
    width: 800px !important;
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

body.modal-open .datepicker {
    z-index: 1051 !important;
}

.has-ajax-loader {
    position: relative;
}

.has-ajax-loader .ajax-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
}

.has-ajax-loader .ajax-loader:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -8px;
    background: url("../img/ajax-loader.gif");
}


.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

table tfoot td { padding-top: 20px !important; }

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

#clientFilterTable tbody tr td .bootstrap-select{
    margin-bottom: 0px;
}

#clientFilterTable input[type="checkbox"] { vertical-align: sub; float: left; margin: 0px; margin-right: 10px; }

#clientFilterTable td { vertical-align: middle; }

#clientFilterTable label { margin-bottom: 0px; }

.submit-link {
    background-color: transparent;
    text-decoration: none;
    border: none;
    color: #337ab7;
    cursor: pointer;
}

.submit-link:focus {
    outline: none;
}

.submit-link:focus, .submit-link:hover {
    color: #23527c;
    text-decoration: underline;
}

.submit-link::-moz-focus-inner {
    border:0;
    padding:0;
}


/* for darkstrap */

.panel{
    background-color: #202020;
}

.input-daterange .input-group-addon{
    background-color: #202020;
    border-color: #2f2f2f;
}

.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    border-top-color: #2f2f2f;
}

.table-striped > tbody > tr:nth-of-type(2n+1){
    background-color: #3f3f3f;
}

input[type="search"]{
    height: auto;
}

.form-control{
    height: auto !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #3f3f3f;
}

.pagination > .disabled > a{
    background-color: transparent;
    border-color: #666;
}

.btn-default, .btn-default:focus, .btn-default:hover {
    background-color: rgba(0,0,0,0.3);
    color: #fff;
}

.form-control[readonly]{
    color: #2f2f2f;
}

.well-sm .panel-body{
    padding: 0px;
}

.total{
    margin-left:10px;
    margin-top: 5px;
}

.input-group-addon{
    color: #c6c6c6;
}

.form-control[disabled]{
    color: #2f2f2f;
}

.select2-results__option{
    color: #2f2f2f;
}

.select2-search__field{
    color: #2f2f2f !important;
}

.modal-bg {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 10;
    padding-top: 100px;
    padding-bottom: 100px;
}

.modal-bg .dialog {
    background: #373737;
    margin: 0 auto;
    padding: 10px 20px;
}

.alert-modal {
    width: 30%;
}
