html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* customize */
.special_table{
    font-size: 1em;
    overflow: hidden !important;
}

.special_table input[type=text]{
    height: 1em;
    width: 100%;
    overflow-x:scroll;
    font-size: 1em;
}

.special_table tr:hover{
    /*background-color: #FFEDE3  !important;*/
    opacity: 1.0;
    color:black;
}

.special_table tr{
    opacity: 0.8;
}

.special_table .select2-container--krajee .select2-selection--single,
.special_form .select2-container--krajee .select2-selection--single,
.special_form1 .select2-container--krajee .select2-selection--single{
    height: 1em;
    line-height: 1em !important;
    padding: 3px 12px 3px 6px;
    min-width: 80px;

}

.special_table .select2-container--krajee .select2-selection--single .select2-selection__arrow,
.special_form .select2-container--krajee .select2-selection--single .select2-selection__arrow,
.special_form1 .select2-container--krajee .select2-selection--single .select2-selection__arrow{
    height: 12px;
    top: 1px;
    right: 1px;
    min-width: 14px;
}

.file-input.file-input-new{
    font-size: 1em !important;
    height: 1em;
    display: flex;
}

.special_form .form-control,
.special_form1 .form-control{
    font-size: 0.8em !important;
    font-weight: bold;
    height: 1.25em;
    line-height: 1em !important;
    padding: 2px 6px 3px 6px !important;
    
}


.special_form textarea,
.special_form1 textarea{
    height: inherit;
    width: 100%;
}

.special_form .input-group.file-caption-main > div.file-caption.form-control.kv-fileinput-caption,
.special_form1 .input-group.file-caption-main > div.file-caption.form-control.kv-fileinput-caption{
    display: none;
}

.special_form .btn-file,
.special_form1 .btn-file{
    font-size: 10px !important;
    font-weight: bold;
    padding: 0px 6px 0px 6px;
}

.special_form .kv-upload-progress.kv-hidden > div,
.special_form1 .kv-upload-progress.kv-hidden > div{

    margin: 0;
    position: absolute;
    width: 78px;
    height: 15px;
    z-index: 222;
    /*opacity: 0.8;*/
}

.select2-results__option{
    font-size: 1em;
    padding: 0;
}

#rdpsearch-actiondate{
    width: 100px !important;
}

.content-wrapper{
    background-color: #FFEDE3 !important;
}

.content-header{
    color: white;
}

.panel-title, .panel-heading{
    background-color: #FF5733 !important;
}

.panel-primary{
    border-color: #FF5733;
}

a{
    color: #FF5733 !important;
}

.sidebar-menu > li.header{
    color: white !important;
}

.sidebar-menu > li > a > i{
    color: white !important;
}

body .modal-dialog {
    /*width: 840px;*/
    border: 1px solid #FF5733;
}

.into-modal label{
    margin-top: 10px;
}

.select2-selection__rendered{
    font-size: 10px;
    font-weight: bold;
    color: black;
}

.table > tbody > tr.info > td{
    background-color: #FFEDE3 !important;
}

.kv-expanded-row, .kv-expand-row{
    background-color: transparent;
}

.table-bordered>tbody>tr>td:hover{
    /*background-color: #FFEDE3 !important;*/
}

.expanded-row > tr{
    margin-bottom: 5px;
}

.kv-editable-reset, .kv-editable-submit, .kv-editable-close{
    display: none;
}

.panel .kv-editable-form-inline{
    padding: 0;
}
.kv-editable-content .form-group{
    margin: 0;
}

div.kv-editable-form-inline{
    padding: 0px 0px 0px 0px !important;
}

.kv-editable-link{
    color:black;
}
.kv-editable-link:before{
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    content: "\270f";
    color: #FF5733;
}

[data-toggle=popover-x] {
  cursor: pointer;
}

.breadcrumb .active{
    color: black !important;
    font-weight: bold;
}

.breadcrumb a{
    color: #333333 !important;
}

.special_form td,
.special_form1 td{
    padding: 4px !important;
    vertical-align: top;
    border: 1px solid;
}

.hidetab{
    display: none;
}

.botdisabled { 
    cursor: default;
    opacity: 0.3;
} 

.legend span{
    font-size: 0.85em;
}

hr{
    margin-bottom: 10px;
    margin-top: 2px;
}

h4{
    margin-bottom: 0px;
    margin-top: 2px;
}

.glyphicon-question-sign{
    color: #00ace6;
    cursor: help;
}

td{
    padding: 2px !important;
}

.botPageCollapse > div > div.panel-heading{
    background-color: white !important;
    padding:0px;
    padding-bottom: 10px;
}

.botPageCollapse > div > div.panel-heading > h4{
    background-color: white !important;
    
}

.botPageCollapse > div > div.panel-heading > h4 > a{
    font-size: 0.8em;
}

.botPageCollapse > div{
    border: none !important;
}

.panel-body{
    padding: 0;
}

.array-parse td{
    padding-left: 15px !important;
    vertical-align: top;
}

.array-key{
    font-weight: bold;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    border-color: #FF5733 !important;
    background-color: #FFEDE3 !important;
}

.special-form-modal .select2-selection__rendered{
    font-size: 14px;
    font-weight: normal;
}
.special-form-modal .select2-container .select2-selection--single .select2-selection__rendered{
    margin-top: 0px !important;
}

.btn-bright{
    background-color: #FF5733 !important;
    border-color: #FF5733 !important;
}

.btn-twilight{
    background-color: #FFEDE3 !important;
    border-color: #FF5733 !important;
}

h1{
    color: black;
}

.dropdown-toggle{
    color: #FF5733 !important;
}


.color-dead{
    background-color: #ddd !important;
}

.color-newbie{
    background-color: #ffffdd !important;
}

.color-offline{
    background-color: #ffdddd !important;
}

.color-online{
    background-color: #ddffdd !important;
}

.color-busy{
    background-color: #ddffff !important;
}

.container{
    border-radius: 3px;
    border: 1px solid #FF5733;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 1320px;
}

.kv-panel-before > label{
    color: #FF5733;
    margin-top: 10px;
    font-weight: normal;
}

.padding-right-10{
    padding-right: 10px;
}

.padding-left-10{
    padding-left: 10px;
}

#advanced-fileinfo{
    padding: 2px 4px;
    overflow-x: hidden;
    font-style: italic;
    font-size: 10px;
    min-height: 90px;
}

.glyphicons-basic-honey{
    background: url('../images/glyphicons-basic-honey.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-top: 5px;
    border-radius: 50%;
    border: 1px solid #FF5733;
    padding: 14px;
    top: 8px;
}

.glyphicons-basic-dashboard{
    background: url('../images/glyphicons-basic-dashboard.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-top: 5px;
    border-radius: 50%;
    border: 1px solid #FF5733;
    padding: 14px;
    top: 8px;
}

.glyphicon-triangle-right, .glyphicon-trash, .glyphicon-cog, .glyphicon-check, .glyphicon-pencil, .glyphicon-wrench{
    border-radius: 50%;
    border: 1px solid #FF5733;
    padding: 7px;
}

.isdisabled{
    color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}


.actual-check, .staged-check {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.actual-check input[type=checkbox], .staged-check input[type=checkbox]{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  color:red;
}

.checkmark {
  
}

.actual-check input ~ .checkmark, .staged-check input ~ .checkmark {
  color: #ddd;
}

.actual-check input:checked ~ .checkmark, .staged-check input:checked ~ .checkmark{
  color: #FF5733;
}

.actual-check input ~ .checkmark:before, .staged-check input ~ .checkmark:before {
  content: "\e090";
}

.actual-check input:checked ~ .checkmark:before, .staged-check input:checked ~ .checkmark:before{{
  content: "\e089";
}
